@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.body-container{
    display: flex;
    flex-direction:column
}

body {
    font-family: Poppins, sans-serif;
    font-size: 300;
    color: #d0cbc2;
    background-color: #626556;
}

/* headings and title */

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    height: 100px;
}

h1 {
    font-family: Abril Fatface, cursive;
    color: #d0cbc2;
    letter-spacing: 2px;
    text-transform: capitalize;
}

h2 {
    font-family: Poppins, sans-serif;
    color: #d0cbc2;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.title {
    font-size: 230%;
    text-transform: capitalize;
    flex: 1;
}

.logo {
    width: 80px;
    height: 80px;
    padding: 20px;
}

/* navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: #d0cbc2 solid 1px;
}

.active {
    border-bottom: #d0cbc2 solid 1px;

}

/* hero image and text */

.hero-outer {
    overflow: hidden;
}

.hero-image {
    height: 85vh;
    background: url(../images/hero_image.png) no-repeat center center;
    background-size: contain;
    position: relative;
}

.hero-text {
    font-size: 90%;
    letter-spacing: 2px;
    color:#626556;
    background-color: rgba(208, 203, 194, .8);
    width: 210px;
    height: 70px;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 360px;
}

/* what its all about */

#about-title {
    font-size: 230%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;

}.all-about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
    padding: 40px 0;
  }

.center-all-about > p {
    font-size: 110%;
    text-align: center;

}

/* Description of meet ups and image */

.box-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box-container .box {
    position: relative;
    max-width: 100%;
    background: #d0cbc2;
    margin: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
}

.box-container .box .image-man-dog {
    max-width: 300px;
    flex: 0 0 300px;
}

.box-container .box .image-man-dog img {
    max-width: 100%;
}

.box-container .box .description {
    margin-left: 20px;
    color: #626556;
    text-align: justify;
}

.box-container .location-button {
background-color: #626556;
color: #d0cbc2;
text-align: center;
margin: 40px auto;
display: block;
}

/* events */

#events {
    width: 100%;
    position: relative;
}

#events-title {
    font-size: 230%;
    letter-spacing: 2px;
    text-align: center;
    margin: 40px;
}


#events-description {
    color: #d0cbc2;
    text-align: center;
    margin: 0 auto;
    text-align: justify center;
    padding: 0 10px;
}

.join-us {
    height: 2.6em;
    background-color: #d0cbc2;
    color: #626556;
    border-radius: 5px;
    font-size: 110%;
    padding: 0 10px;
    display: block;
    margin: 40px auto;
}

.events-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 0;
}

.center-events {
    width: 200px;
    height: 260px;
    text-align: center;
    line-height: 40px;
    border: #d0cbc2 double 5px;
    color: #d0cbc2;
    padding: 30px;
    margin: 30px
}

.center-events h2 {
    font-family: Poppins, sans-serif;
}

.center-events p {
    font-size: 110%;
    margin-top: 20px;
}

/* footer */

footer {
    display: flex;
    background-color: #d0cbc2;
    height: 15vh;
    width: 100%;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 33.3%;
    justify-content:center;
    padding: 5px 0;
}

.footer-container > li {
    display: inline;
    text-align: justify;
}

.footer-container li i {
    font-size: 3em;
    color: #626556;
    padding: 0 5px;
}

#email-newsletter {
    height: 3em;
    width: 14em;
    border: #626556 solid 3px;
    border-radius: 5px;
    background-color:#d0cbc2;
    padding: 0 10px;
}

.green-button {
    height: 2.6em;
    background-color: #626556;
    color: #d0cbc2;
    border-radius: 5px;
    font-size: 110%;
    padding: 0 10px;
    margin-left: 0.5em;
}

.remove-link {
    text-decoration: none;
}

.location-button {
    height: 2.6em;
    background-color: #d0cbc2;
    color: #626556;
    border-radius: 5px;
    font-size: 110%;
    padding: 0 10px;
    margin-top: 20px;
}

/*locations page */

.location-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.location-container .location-box {
    position: relative;
    flex-direction: row;
    background: #d0cbc2;
    width: 80%;
    margin: 40px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.location-container .location-box .location-image {
    max-width: 400px;
    flex: 0 0 250px;
}

.location-container .location-box .location-image img {
    max-width: 100%;
}

.location-container .location-box .location-content {
    margin-left: 20px;
    color: #626556;
}

.location-content ul {
    list-style-type: none;
    align-items: center;
}

.location-content h2 {
    color: #626556;
    padding-bottom: 10px;
}

/* map */

.map-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.map-container .map-description {
    text-align: center;
    padding: 20px 0 40px;
}

.map-container .map-description p {
    line-height: 2em;
    font-size: 110%;
}

/* Join us page */

.sign-up-container {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 40px;
    align-items: center;
    background: url(../images/two_women_and_their_dogs.png) no-repeat center center;
}

.sign-up-form {
    position: absolute;
    color: #626556;
    background: rgba(208, 203, 194, .8);
    border-radius: 1em;
    padding: 30px;
    line-height: 30px;
    margin: 60px 10% 0 0;
    left: 12%;
}

.sign-up-form li {
    list-style-type: none;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 10px;
    border:#626556 solid 2px;
    border-radius: 3px;
}

.text-input:hover {
    background-color: #626556;
}

#submit-button {
    height: 2.6em;
    background-color: #626556;
    color: #d0cbc2;
    border-radius: 5px;
    font-size: 110%;
    padding: 0 10px;
    margin-top: 40px;
}

#submit-button:hover{
    background-color: #d0cbc2;
    color: #626556;
    border: #626556 solid 3px;
}

.radio {
    margin-top: 15px;
    background-color: #d0cbc2;
    border: #626556 solid 3px;
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

.header-container {
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: none;
}

.all-about-container {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}

.center-all-about {
    padding-top: 20px;
}

.box-container .box {
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
}

.box-container .box .image-man-dog {
    max-width: 100%;
}

.box-container .box .description {
    margin-left: 0px;
}

.events-container {
    flex-direction: column;
}

.events-container .center-events {
    margin: 20px auto;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.social-container {
    padding: 10px;
}

.form-container {
    padding: 10px;
}

.to-top-container {
    padding: 10px;
}

.location-container .location-box {
    flex-direction: column;
    max-width: 350px;
    text-align: center;
}

.location-container .location-box .location-content {
    margin-left: 0;
}

.map-container .map {
    max-width: 350px;
    overflow: scroll; 
}
}